/*------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&family=Roboto+Slab&display=swap');

/*------------------------------Colours*/

.bg-color-strap {
    background-color: #1c1c1b;
    color: #f4e1d7;
}

.ui-menu-color {
    background-color: #f4e1d7;    
}

body {
    background: #f4e1d7;
}

/*------------------------------Header*/
header{ 
    margin: 0;
}

.logo {
    background: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:200px;
    background-color: #1c1c1b;
    }

.strap {
    font-family: "Bree Serif";
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    height: 32px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;        
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 18px;
    padding: 0;
}

.navbaritem {
    text-align: left;
    padding: 0;

}

.navbaritem a {
    width: 100%;
    text-decoration: none;
    color: #1c1c1b;
}

.navbaritem span {
    width: 100%;
    display: block;
    text-align: center; 
    text-transform: uppercase;    
             
}

.navbaritem a i {
    padding-top: 12px;
    display: block;
    font-size: 32px;
    text-align: center; 
}

/*------------------------------Slideshow*/


/*------------------------------Footer*/
 
footer {
    background-color: #1c1c1b;
    min-height: 120px;
    margin: 0;
    
}

.social-networks {
    text-align: center;
    min-height: 100px;
    margin: 0;
}

 
.social-networks li a i {
    width: 80px;
    margin-top: 20px;
    margin-right: 5px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #f4e1d7;    
    height: 32px;
    padding: 12px 0;
}
/*----------------------------Events Page*/


.events-image {
    height: 300px;
    background: url("../images/Marketstall.jpg") no-repeat;
    position: relative;
    min-height: 100vh;
    margin-top: 50px;
}

.events-heading {
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
}

.events-dates {
    position: relative;
    margin-left: 100px;
}


/*----------------------------Product Page*/
.products-heading {
    margin-left: 15px;
}


.products-container{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products-container .box {
    position: relative;
    width: 300px;
    height: 400px;
    background: #1c1c1b;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.products-container .box .imgBox {
    position: relative;
    overflow: hidden;
}

.products-container .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}

.products-container .box:hover .imgBox img {
    transform: scale(1.2)
}

.products-container .box .productDetails {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.products-container .box:hover .productDetails {
    transform: scaleY(1);
}

.products-container .box .productDetails .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #f4e1d7;
}

.products-container .box .productDetails .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #b9a195;
}
/*-------------------------Bespoke Projects*/


.projects {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/img12.jpg);
    background-size: cover;
}

.projects .content {
    max-width: 800px;
    align-items: center;
}
.projects .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fafafa;
}
.projects .content p {
    font-weight: 300;
    color: #fafafa;
}
.contactForm {
    width: 100%;
    padding: 40px;
    background: #f4e1d7;    
}

.projects .content h3 {
    font-size: 36px;
    font-weight: 500;
    color: #1c1c1b;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #1c1c1b;
    outline: none;
    resize: none;
}

.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #1c1c1b;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #1c1c1b;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #f4e1d7;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #b9a195;
    color: #1c1c1b;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/*---------------------------------Media Query*/